# Python MUST packages
load_dotenv
pydantic
thefuzz
python-Levenshtein
discord.py

# Web server packages
fastapi
uvicorn

# LLM packages
autogen
autogen-ext[openai]

# Misc packages for agentic tools
python-weather
splitwise
pytesseract
