# Python MUST packages
load_dotenv
pydantic
thefuzz
python-Levenshtein
discord.py

# Autogen packages
autogen
autogen-ext[openai]

# LangChain packages
langchain
langchain-core
langchain-ollama

# Misc packages for agentic tools
python-weather
splitwise
pytesseract
